@{
    ViewData["Title"] = "Home Page";
}

@{
    // commentaire C# classique
    string message = "Bienvenue sur la page Index de Home!";
    bool test = true;
    var strings = new List<string>()
    {
        "chaine1",
        "chaine2",
        "chaine3",
    };
}

<!-- Commentaire html, visible dans le code source HTML sur le navigateur (devtools)-->
@* Commentaire Razor, visible uniquement dans le fichier cshtml, pas sur le navigateur *@

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@


<p>
    Bonjour !  <br />
    @message <br />
    @test <br />
    @test ? "Test est vrai" : "Test est false" <br />
    @(test ? "Test est vrai" : "Test est false")
</p>

@message

@if (test)
{
    <div>test est vrai</div>
}
else
{
    <div>@nameof(test) est faux</div>
}

@foreach (var str in strings)
{
    // var str2 = "test"; // on est dans un bloc {} donc plusieurs stntaxes du C# sont valables
    <h5>@str</h5>
}

var test = 5; @* du texte html*@

<br />

@* /Home/Privacy *@

@*Html Helpers*@
@Html.ActionLink("Cliquez ici !!", "Privacy")

@*Tag Helpers*@
<a asp-action="Privacy" class="btn btn-primary">Cliquez ici !!</a>

<br />

@* /Contacts/Index *@

@*Html Helpers*@
@Html.ActionLink("Vers Contacts/Index","Index", "Contacts")

@*Tag Helpers*@
<a asp-controller="Contacts" asp-action="Index" class="btn btn-primary">Vers /Contacts/Index</a>

<a asp-controller="Contacts" class="btn btn-primary">Vers /Contacts/</a>

<a asp-controller="Contacts" asp-action="Details" asp-route-id="5" class="btn btn-primary">Vers /Contacts/Details/5</a>
