@model List<Contact>
@*
    l'annotation model remplace le type de la propriété Model (dynamic)
    elle permet de "lier" une vue à un type en particulier => ici une liste de contact (List<Contact>)
*@

@{
    ViewData["Title"] = "Liste des Contacts";
}

@* Je suis la page pour lister les Contacts... *@

<table class="table">
    <thead>
        <tr>
            @* <th scope="col">#</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">N° de téléphone</th>
            <th scope="col">Actions</th> *@
            <th scope="col">#</th>
            <th scope="col">@Html.DisplayNameForInnerType((Contact c) => c.FirstName)</th>
            <th scope="col">@Html.DisplayNameForInnerType((Contact c) => c.LastName)</th>
            <th scope="col">@Html.DisplayNameForInnerType((Contact c) => c.Email)</th>
            <th scope="col">@Html.DisplayNameForInnerType((Contact c) => c.Phone)</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @* Exemple d'une ligne (un contact)
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>blabla@gmail.com</td>
            <td>0607080910</td>
        </tr> 
        *@
        @* @foreach (Contact c in (List<Contact>) ViewData["contactList"]) *@
        @* @foreach (Contact c in (List<Contact>) ViewBag.ContactList) *@
        @foreach (Contact c in Model) @* Model est de type List<Contact> grace à la ligne 1 du fichier '@model List<Contact>' *@
        {
            <tr>
                <th scope="row">@c.Id</th>
                <td>@c.FirstName</td>
                <td>@c.LastName</td>
                <td>@c.Email</td>
                <td>@c.Phone</td>
                <td>
                    @* <a asp-controller="Contacts" asp-action="Details" asp-route-id="@c.Id">Détails</a> *@
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@c.Id">Détails</a>
                </td>
            </tr>
        }
    </tbody>
</table>